
*{
  margin: 0;
  padding:0 ;
  font-family: 'Titillium Web', sans-serif;
}


body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 5em;
  width: 1000px
}

h1 {
  font-size: 3em;
  margin-bottom: 0.25em;
  text-align: left;
  
}

h3 {
  font-size: 2em;
  margin-bottom: 0.25em 0;
}

ul {
  margin-top: 10px;
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

#mytable {
  height: 45%;
}

table, td,th {
  border-collapse: collapse;
  border: 1px solid;
  width: 65%;
  text-align: left;
  table-layout: fixed;
}

caption {
  display: table-caption;
  text-align: center;
  font-size: 1.5em;
}

th {
  line-height: 30px;
  padding: 5px;


}

td {
  line-height: 20px;
  padding: 5px;

}

.myclass {
  white-space: nowrap;
}


img {
  border: 1px solid #ddd;
  border-radius: 4px;

  width: 145px;
}

.highlight {
  background-color: green;
}

